@model Equipe
@{
    ViewData["Title"] = "Equipes";
}

<div class="banner-cadastro">
    <h1>Cadastro de @ViewData["Title"]</h1>
</div>


<section class="conteiner_central">
    <div class="conteiner informacoes_dados">
        <div class="dados">
            <form class="organização_dados" method="POST" action='@Url.Action("Cadastrar")'
                enctype="multipart/form-data">
                <label>ID</label>
                <input type="text" name="IdEquipe" required>
                <label for="">Nome</label>
                <input class="name" type="text" name="Nome">
                <label for="">Emblema</label>
                <input type="file" name="Imagem">
                <div class="organizacao_botao">
                    <button class="botao_cadastro" type="submit">Cadastrar</button>
                </div>
            </form>
        </div>
        <div>
            <h2 class="dados_h2">Lista de Times</h2>
        </div>
        <div>
            <table class="tabela">
                <thead class="tabela_1">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Imagem</th>
                </thead>
                <tbody>
                    @foreach (Equipe equipe in ViewBag.Equipes)
                    {
                        <tr class="tabela_2">
                            <td>@equipe.IdEquipe</td>
                            <td>@equipe.Nome</td>
                            <td><img src="/img/Equipes/@equipe.Imagem" alt="Imagem da equipe @equipe.Nome" width="50px">
                            </td>



                            <td class="deletar"><a asp-area="" asp-controller="Equipe" asp-action="Deletar"
                                asp-route-id="@equipe.IdEquipe">EXCLUIR</a></td>



                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
